::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: #c2c2c2;
}

::-webkit-scrollbar-track {
    background: #ececec;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 30px;
    letter-spacing: 0;
    word-wrap: break-word;
    font-weight: 400;
    background-color: #fff;
    color: #767676;
}

.noty_body h1,
.noty_body h2,
.noty_body h3,
.noty_body h4,
.noty_body h5,
.noty_body h6 {
    font-weight: 500;
    line-height: 1.4;
    color: #fff;
}

/********** index **********/
.tokyo_tm_home .details .job {
    font-size: 20px;
}

.tokyo_tm_home .details .job-info {
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 20px;
}

.social img {
    width: 28px;
    height: 28px;
}

.img-home img {
    max-width: 450px;
    max-height: 450px;
}

/********** about **********/
.tokyo_tm_resume_list ul li .place h3 {
    font-size: 14px;
    margin-bottom: 2px;
    font-weight: 600;
}

.tokyo_tm_resume_list ul li {
    margin: 0;
    width: 100%;
    float: left;
    position: relative;
    padding-left: 22px;
    padding-bottom: 22px;
}

.tokyo_tm_resume_list ul li .time {
    width: 35%;
    padding-right: 9px;
}

.tokyo_tm_resume_list ul li .place {
    width: 75%;
    padding-left: 0px;
}

.tokyo_tm_resume_list ul li .time span {
    display: inline-block;
    padding: 5px 17px;
    background-color: rgba(0, 0, 0, .05);
    border-radius: 50px;
    font-size: 13px;
    white-space: nowrap;
}

/********** service **********/
#service ul {
    padding-left: 15px;
}

/********** form **********/
.tokyo_tm_contact .fields ul li input.is-invalid {
    width: 100%;
    border: 1px solid rgb(255 0 0);
    background-color: transparent;
}

.tokyo_tm_contact .fields .last textarea.is-invalid {
    width: 100%;
    border: 1px solid rgb(255 0 0);
    height: 120px;
    resize: none;
    margin-bottom: 20px;
    background-color: transparent;
}