::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: #c2c2c2;
}

::-webkit-scrollbar-track {
    background: #333333;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 30px;
    letter-spacing: 0;
    word-wrap: break-word;
    font-weight: 400;
    background-color: #fff;
    color: #767676;
}

.noty_body h1,
.noty_body h2,
.noty_body h3,
.noty_body h4,
.noty_body h5,
.noty_body h6 {
    font-weight: 500;
    line-height: 1.4;
    color: #fff;
}

body.dark .tokyo_tm_all_wrap .rightpart,
body.dark .tokyo_tm_modalbox .box_inner,
body.dark .tokyo_tm_read_more a span,
body.dark .tokyo_tm_modalbox .description_wrap:before,
body.dark .tokyo_tm_modalbox .description_wrap:after {
    background-color: #333333;
}


body.dark .tokyo_tm_all_wrap .leftpart {
    background-color: #222222;
}

.dark {
    background-color: #222222 !important;
}

.tokyo_tm_all_wrap .leftpart {
    width: 450px;
    height: 100vh;
    position: fixed;
    display: flex;
    align-items: center;
    z-index: 12;
    padding: 0px 80px;
    background-color: #fff;
}

.tokyo_tm_all_wrap .leftpart .logo h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 25px;
    letter-spacing: inherit;
}

.tokyo_tm_all_wrap .leftpart .logo[data-type=image] h3 {
    display: block;
}

.tokyo_tm_all_wrap .leftpart .logo img {
    display: inline-block;
    position: absolute;
    max-width: 39px;
}

.tokyo_tm_all_wrap .leftpart .logo h3 {
    padding-left: 50px;
}

/********** index **********/
.tokyo_tm_home .details .job {
    font-size: 18px;
}

.tokyo_tm_home .details .job-info {
    font-size: 13px;
    line-height: 20px;
    margin-bottom: 20px;
}

.social img {
    width: 28px;
    height: 28px;
}

.img-home img {
    max-width: 420px;
    max-height: 420px;
}

.tokyo_tm_home .details .name {
    font-size: 50px;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 14px;
}

/********** about **********/
.tokyo_tm_resume_list ul li .place h3 {
    font-size: 14px;
    margin-bottom: 2px;
    font-weight: 600;
}

.tokyo_tm_resume_list ul li {
    margin: 0;
    width: 100%;
    float: left;
    position: relative;
    padding-left: 22px;
    padding-bottom: 22px;
}

.tokyo_tm_resume_list ul li .time {
    width: 35%;
    padding-right: 9px;
}

.tokyo_tm_resume_list ul li .place {
    width: 75%;
    padding-left: 0px;
}

.tokyo_tm_resume_list ul li .time span {
    display: inline-block;
    padding: 5px 17px;
    background-color: rgba(0, 0, 0, .05);
    border-radius: 50px;
    font-size: 13px;
    white-space: nowrap;
}

.tokyo_section_title h3 {
    font-size: 15px;
    font-weight: 700;
}

/********** service **********/
#service ul {
    padding-left: 15px;
}

.js-text{
    height: 204px;
    max-height: 240px;
    overflow-y: auto;
}

/********** form **********/
body.dark .tokyo_tm_contact .fields ul li input.is-invalid {
    width: 100%;
    border: 1px solid rgb(255 0 0);
    background-color: transparent;
}

body.dark .tokyo_tm_contact .fields .last textarea.is-invalid {
    width: 100%;
    border: 1px solid rgb(255 0 0);
    height: 120px;
    resize: none;
    margin-bottom: 20px;
    background-color: transparent;
}

body.dark .tokyo_tm_button a {
    background-color: #222222;
    color: #eee;
}

@media (max-width: 1200px) {
    .tokyo_tm_all_wrap .leftpart {
        display: none;
    }
}

