.width-7 {
    width: 7% !important;
}

.width-9 {
    width: 9% !important;
}
.bg-primary {
    background-color: #3d8bfd!important;
}

/********** form **********/
.form-shadow {
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: right 8px center;
    border-radius: 3px;
    outline: none;
    background-color: #fff;
    border: 1px solid #fff;
    box-shadow: inset 0 1px 3px rgb(0 0 0 / 50%);
    -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.50);
    -webkit-box-shadow: inset 0 1px 3px rgb(0 0 0 / 50%);
}
.form-shadow:focus {
    box-shadow: inset 0 1px 3px rgb(61, 139, 253);
    -moz-box-shadow: inset 0 1px 3px rgb(61, 139, 253);
    -webkit-box-shadow: inset 0 1px 3px rgb(61, 139, 253);
}

.form-shadow.is-invalid {
    box-shadow: inset 0 1px 3px rgb(211, 95, 65);
    -moz-box-shadow: inset 0 1px 3px rgb(211, 95, 65);
    -webkit-box-shadow: inset 0 1px 3px rgb(211, 95, 65);
}

.small label{
    margin-bottom: 0;
}

.form-group.small {
    margin-bottom: 5px;
}

.form-block {
    border: 1px solid rgba(154, 154, 154, 0.5);
    box-shadow: inset 0 0 1px 1px rgb(255 255 255);
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 15px;
}

.form-block legend {
    width: auto;
    border: unset;
    margin: unset;
    font-size: 14px;
    text-shadow: 1px 1px 0px rgb(255 255 255 / 75%);
    color: #989898;
}

.custom-input-file {
    width: 0;
    height: 0;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.button-100 {
    width: 100%;
    display: block;
    margin-bottom: 8px;
}
.button-image{
    width: 100%;
    line-height: 2.5;
}
.btn-success {
    background-color: #4dd4ac;
    border-color: #4dd4ac;
    box-shadow: 0 6px 15px 0 rgb(0 239 129 / 30%);
}
.btn-success:focus, .btn-success:active:focus, .btn-success:active, .btn-success:hover {
    background-color: #27ff9b;
    border-color: #27ff9b;
}
.btn-secondary {
    color: #fff;
    background-color: #718096;
    border-color: #718096;
    box-shadow: 0 6px 15px 0 rgb(113 128 150 / 50%);
}
.btn-primary {
    color: #fff;
    background-color: #3d8bfd;
    border-color: #3d8bfd;
    box-shadow: 0 6px 15px 0 rgb(13 110 253 / 50%);
}
.btn-primary:focus,.btn-primary:active:focus, .btn-primary:active,.btn-primary:hover {
    color: #fff;
    background-color: rgb(13 110 253 / 60%);
    border-color: #75acff;
}
/*.btn-primary:focus{*/
/*    color: #fff;*/
/*    background-color: #3d8bfd;*/
/*    border-color: #3d8bfd;*/
/*    box-shadow: 0 6px 15px 0 rgb(13 110 253 / 50%);*/
/*}*/
.border-primary .select2-container--default .select2-selection--single {
    border-color: #467bcb !important;
    height: calc(1.5em + 0.75rem + 2px);
    display: flex;
    align-items: center;
    color: #4a5568;
}
.form-group.datepicker-wrap>label:not(.custom-control-label) {
    display: flex;
    flex-direction: column;
    min-width: 100%;
}
/********** // form **********/
/********** login **********/
.login-page .card {
    min-width: 400px;
}
.login-page button{
    height: 60px;
}
/********** //login **********/
/********** postCategory **********/
.block-image{
    margin-bottom: 20px;
}
.block-image img{
    width: 100%;
    cursor: pointer;
}
.parts-gallery {
    display: flex;
    flex-wrap: wrap;
}
.md-block-5{
    max-width: 25%;
    min-width: 25%;
}
.md-block-5 img{
    width: 100%;
}
.md-block-5 .img{
    min-width: 100%;
}
/********** //postCategory **********/
/********** gallery **********/
.parts-gallery .image-block{
    display: flex;
    flex-direction: column;
    align-content: space-between;
    flex-wrap: wrap;
}
.parts-gallery .image-block-form{
    display: flex;
    flex-direction: column;
}
/********** //gallery **********/
/********** widget **********/
.a-shop .widget-tabs .close{
    position: absolute;
    right: 0;
    top: 0;
    background: #dc3545;
    width: 1.7em;
    height: 1.7em;
    border-radius: 2px;
    background-color:#dc3545;
    border-color: #dc3545;
    box-shadow: 0 6px 15px 0 rgb(220 53 69 / 90%);
}
.a-shop .widget-tabs .close:active{
    box-shadow: none;
}
.catalog-property .input-group{
    display: flex;
    justify-content: flex-start;
}
.catalog-property .form-group{
    display: flex;
    justify-content: flex-start;
    width: 45%;
    margin-bottom: unset;
}
.catalog-property .form-control{
    border-radius: unset;
    height: calc(1.5em + 0.75rem + 15px);
}
.catalog-property .select2-container--default .select2-selection--single {
    border-color: #cbd5e0;
    height: calc(1.5em + 0.75rem + 20px);
    display: flex;
    align-items: center;
    color: #4a5568;
}
.catalog-property .select2-container--default .select2-selection--single {
    border-radius: unset;
}
.catalog-property .select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 13px;
    width: 8px;
    right: 0.75rem;
}
.catalog-property{
    position: relative;
}
.catalog-property .catalog-property-add{
    position: absolute;
    top: -45px;
    right: 15px;
}
.catalog-property .catalog-property-add.btn:not(:disabled):not(.disabled):active {
    position: absolute;
    top: -45px;
    right: 15px;
}
.catalog-property .price .input-group-prepend{
    width: 80px;
}
.catalog-property .price .input-group-prepend .input-group-text {
    padding: 0;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.price .form-control{
    height: calc(1.5em + 0.75rem + 13px);
}
/********** //widget **********/
