footer {
    margin-top: 30px;
}
.footer__container {
    position: relative;
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 40px 50px;
}
.footer__top {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.footer__menu {
    font-size: 10px;
}
.footer__menu a {
    color: #b05d36;
    text-decoration: none;
    cursor: pointer;
}
.footer__menu p {
    margin-bottom: 0;
    text-align: right;
    line-height: 25px
}
.footer__logo {
    display: none;
}
.socials {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}
.socials a:not(:last-child) {
    margin-right: 25px;
}

.social__img {
    width: 35px;
    height: 35px;
}
@media (max-width: 1024px) {
    .footer__container {
        padding-bottom: 35px;
    }
}
@media (max-width: 768px) {
    .footer__top {
        justify-content: space-between;
    }
    .footer__logo {
        display: flex;
    }
    .footer__logo-image {
        width: 70px;
    }
    .socials {
        gap: 20px;
        margin-bottom: 0;
    }
    .socials a:not(:last-child) {
        margin-right: 0;
    }
}
@media (max-width: 425px) {
    .footer__container {
        padding: 0 25px 10px;
    }
}
