@font-face {
    font-family: "Play";
    src: url("../../../font/Play.eot");
    src: url("../../../font/Play.eot?#iefix") format("embedded-opentype"),
    url("../../../font/Play.woff") format("woff"),
    url("../../../font/Play.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

* {
    font-family: 'Play', 'sans-serif';
}
/***** post *****/
.comments-area .comment {
    position: relative;
    min-height: 90px;
    padding-left: 0px;
}
.comments-area .review-date,.comments-area .review-date i{
    margin-right: 20px;
}

.comments-area .comment-box {
    position: relative;
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #e9ebee;
}