<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="apple-touch-icon" sizes="180x180" href="./assets/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./assets/favicon/favicon-16x16.png">
    <link rel="manifest" href="./assets/favicon/site.webmanifest">
    <link rel="mask-icon" href="./assets/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <title>Блог</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600&display=swap" rel="stylesheet">
</head>
<body>
    <header class="header__bg-color">
        <nav class="navbar navbar-expand-lg navbar-light position-relative header__navbar">
            <a class="navbar-brand position-absolute header__logo" href="index.html">
                <img class="logo__image" src="./assets/img/FurSie_logo.png" alt="">
            </a>

            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse"
                    data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse collapse header__navbar-container" id="navbarsExampleDefault" style="">
                <ul class="navbar-nav m-auto header__menu">
                    <li class="nav-item">
                        <a class="nav-link" href="index.html">Главная <span class="sr-only">(current)</span></a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="history.html">История</a>
                    </li>

                    <li class="nav-item active">
                        <a class="nav-link" href="blog.html">Блог</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="portfolio.html">Портфолио</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link" href="shop.html" id="dropdown01" aria-expanded="false">
                            Магазин
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdown01">
                            <a class="dropdown-item" href="shop.html">Магазин</a>
                            <a class="dropdown-item" href="product_card.html">Демо карточки товара</a>
                            <a class="dropdown-item" href="#">Что-то ещё</a>
                        </div>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="contact.html">Контакты</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <main class="blog unselectable">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-8 content">
                    <div class="row">
                        <div class="blog__post col-md-6">
                            <figure class="main icon-overlay">
                                <a href="blog_article.html">
                                    <img src="assets/img_blog/gb1.jpg" alt="">
                                </a>
                            </figure>

                            <div class="blog__post-content">
                                <h2 class="blog__post-title">
                                    <a href="blog_article.html" class="">
                                        Adipiscing Mollis Inceptos
                                    </a>
                                </h2>

                                <div class="blog__post-meta">
                                    <span class="date">13 Nov, 2012</span>

                                    <span class="categories">
                                        <a href="#">Breakfast</a>,

                                        <a href="#">Journal</a>
                                    </span>

                                    <span class="comments">
                                        <a href="#">3 Comments</a>
                                    </span>
                                </div>

                                <p class="blog__post-text">
                                    Aenean leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Sed posuere
                                    consectetur est at lobortis. Curabitur blandit tempus porttitor. Vivamus sagittis lacus
                                    vel augue laoreet rutrum faucibus dolor auctor.
                                </p>

                                <a href="#" class="blog__post-more">Continue reading →</a></div>
                        </div>

                        <div class="blog__post col-md-6">
                            <figure class="main icon-overlay">
                                <a href="blog_article.html">
                                    <img src="assets/img_blog/gb2.jpg" alt="">
                                </a>
                            </figure>

                            <div class="blog__post-content">
                                <h2 class="blog__post-title">
                                    <a href="blog_article.html">
                                        Ridiculus Ultricies Pellentesque
                                    </a>
                                </h2>

                                <div class="blog__post-meta">
                                    <span class="date">02 Jan, 2013</span>

                                    <span class="categories">
                                        <a href="#">Restaurant</a>,
                                        <a href="#">Photography</a>
                                    </span>

                                    <span class="comments">
                                        <a href="#">5 Comments</a>
                                    </span>
                                </div>

                                <p class="blog__post-text">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sed diam eget risus
                                    varius blandit sit amet non magna. Fusce dapibus, tellus ac cursus commodo. Etiam porta
                                    sem malesuada magna mollis euismod.
                                </p>

                                <a href="#" class="blog__post-more">Continue reading →</a>
                            </div>
                        </div>

                        <div class="blog__post col-md-6">
                            <figure class="main icon-overlay">
                                <a href="blog_article.html">
                                    <img src="assets/img_blog/gb3.jpg" alt="">
                                </a>
                            </figure>
                            <div class="blog__post-content">

                                <h2 class="blog__post-title">
                                    <a href="blog_article.html">
                                        Tristique Purus Pharetra
                                    </a>
                                </h2>

                                <div class="blog__post-meta">
                                    <span class="date">14 Mar, 2013</span>
                                    <span class="categories">
                                        <a href="#">Flowers</a>,

                                        <a href="#">Journal</a>
                                    </span>

                                    <span class="comments">
                                        <a href="#">2 Comments</a>
                                    </span>
                                </div>

                                <p class="blog__post-text">
                                    Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Etiam porta sem malesuada
                                    magna mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia
                                    bibendum nulla sed consectetur.
                                </p>

                                <a href="#" class="blog__post-more">Continue reading →</a></div>
                        </div>

                        <div class="blog__post col-md-6">
                            <figure class="main icon-overlay">
                                <a href="blog_article.html">
                                    <img src="assets/img_blog/gb4.jpg" alt="">
                                </a>
                            </figure>

                            <div class="blog__post-content">
                                <h2 class="blog__post-title">
                                    <a href="blog_article.html">
                                        Inceptos Porta Nibh
                                    </a>
                                </h2>

                                <div class="blog__post-meta">
                                    <span class="date">23 Apr, 2013 / </span>

                                    <span class="categories">
                                        <a href="#">Street</a>,

                                        <a href="#">Photography</a>
                                    </span>

                                    <span class="comments">
                                        <a href="#">7 Comments</a>
                                    </span>
                                </div>

                                <p class="blog__post-text">
                                    Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Curabitur blandit
                                    tempus porttitor. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nulla
                                    vitae elit libero, a pharetra augue.
                                </p>

                                <a href="#" class="blog__post-more">Continue reading →</a></div>
                        </div>
                    </div>
                    <!-- /.blog-posts -->

                    <div class="pagination">
                        <ul>
                            <li><a href="#" class="pagination__btn">Prev</a></li>
                            <li class="active"><a href="#" class="pagination__btn">1</a></li>
                            <li><a href="#" class="pagination__btn">2</a></li>
                            <li><a href="#" class="pagination__btn">3</a></li>
                            <li><a href="#" class="pagination__btn">Next</a></li>
                        </ul>
                    </div>
                    <!-- /.pagination -->

                </div>

                <aside class="col-sm-4 sidebar lp30 sidebar__right">
                    Правый сайдбар с какой-то полезной информацией или подборкой с похожими товарами. Описание продукции
                </aside>
            </div>
        </div>
    </main>

    <footer>
        <div class="footer__container">
            <div class="socials">
                <a href="https://nl.pinterest.com/mikevermeij" target="_blank" rel="noopener noreferrer">
                    <img class="alignnone size-medium wp-image-631 alignright"
                         src="https://michaelvermeij.com/wp-content/uploads/pin.png" alt="" width="45" height="45">
                </a>

                <a href="http://www.instagram.com/handcrafted.design" target="_blank" rel="noopener noreferrer">
                    <img class="alignnone size-medium wp-image-630 alignright"
                         src="https://michaelvermeij.com/wp-content/uploads/inst.png" alt="" width="45" height="45">
                </a>

                <a href="http://www.etsy.com/shop/MichaelVermeij" target="_blank" rel="noopener noreferrer">
                    <img class="alignnone size-full wp-image-628 alignright"
                         src="https://michaelvermeij.com/wp-content/uploads/ets.png" alt="" width="44" height="45">
                </a>
            </div>

            <div class="footer__menu"><p>&nbsp;</p>
                <p style="text-align: right; line-height: 25px">
                    logo &amp; webdesign | Vincent van de Haar<br>
                    all rights reserved &amp; photography&nbsp;| Michael Vermeij<br>
                    video |<a href="https://www.firehorsephotographyfrance.com/"> Firehorse Films</a><br>
                    &nbsp; <br>
                    <a href="https://michaelvermeij.com/privacy-policy">privacy policy</a>&nbsp;<br>
                    siret; 82907682700023
                </p>
            </div>
        </div>
    </footer>

    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/isotope.pkgd.min.js"></script>
    <script src="js/imagesloaded.pkgd.min.js"></script>
    <script src="js/isotope_init.js"></script>
</body>
</html>