<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="apple-touch-icon" sizes="180x180" href="./assets/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./assets/favicon/favicon-16x16.png">
    <link rel="manifest" href="./assets/favicon/site.webmanifest">
    <link rel="mask-icon" href="./assets/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <title>Главная</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="css/modals.css">
</head>
<body>
<header>
    <!-- modals -->
    <div class="modal fade" id="authModal" tabindex="-1" aria-labelledby="authModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <!-- Nav tabs -->
                    <ul class="nav nav-pills" role="tablist">
                        <li role="presentation" class="nav-item">
                            <a class="nav-link active" href="#loginTab" role="tab" data-toggle="tab" aria-controls="home" aria-selected="true">
                                Вход
                            </a>
                        </li>
                        <li role="presentation" class="nav-item">
                            <a class="nav-link" href="#registrationTab" role="tab" data-toggle="tab" aria-controls="profile" aria-selected="false">
                                Регистрация
                            </a>
                        </li>
                    </ul>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <line x1="1" y1="-1" x2="21.1537" y2="-1" transform="matrix(0.691658 0.722226 -0.691658 0.722226 1 2)"
                                  stroke="#007bff" stroke-width="2" stroke-linecap="round"/>
                            <line x1="1" y1="-1" x2="21.1537" y2="-1" transform="matrix(-0.691658 0.722226 0.691658 0.722226 17 2)"
                                  stroke="#007bff" stroke-width="2" stroke-linecap="round"/>
                        </svg>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade show active" id="loginTab">
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <label for="loginInput">Логин</label>
                                    <input type="text" class="form-control" id="loginInput">
                                </div>

                                <div class="form-group">
                                    <label for="loginPassInput">Пароль</label>
                                    <input type="password" class="form-control" id="loginPassInput">

                                    <div class="form-group forgot-pass">
                                        <button type="submit" class="btn btn-default">Забыли пароль?</button>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="checkbox">
                                        <input class="form__checkbox" type="checkbox" value="" id="loginCheckbox">
                                        <label for="loginCheckbox">
                                            Запомнить меня
                                        </label>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <button type="submit" class="btn btn-outline-primary btn-block">Войти</button>
                                </div>
                            </form>
                        </div>

                        <div role="tabpanel" class="tab-pane fade" id="registrationTab">
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <label for="registerPhoneInput">Номер телефона</label>
                                    <input type="text" class="form-control" id="registerPhoneInput">
                                </div>

                                <div class="form-group">
                                    <label for="registerEmailInput">Почта</label>
                                    <input type="email" class="form-control" id="registerEmailInput">
                                </div>

                                <div class="form-group">
                                    <label for="registerPassInput">Пароль</label>
                                    <input type="password" class="form-control" id="registerPassInput">
                                </div>

                                <div class="form-group">
                                    <button type="submit" class="btn btn-outline-primary btn-block">Зарегистрироваться</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <nav class="navbar navbar-expand-lg navbar-light position-relative header__navbar">
        <a class="navbar-brand position-absolute header__logo" href="index.html">
            <img class="logo__image" src="./assets/img/FurSie_logo.png" alt="">
        </a>

        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse"
                data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse collapse header__navbar-container" id="navbarsExampleDefault" style="">
            <ul class="navbar-nav m-auto header__menu">
                <li class="nav-item active">
                    <a class="nav-link" href="index.html">Главная<span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="history.html">История</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="blog.html">Блог</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="portfolio.html">Портфолио</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link" href="shop.html" id="dropdown01" aria-expanded="false">
                        Магазин
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                        <a class="dropdown-item" href="shop.html">Магазин</a>
                        <a class="dropdown-item" href="product_card.html">Демо карточки товара</a>
                    </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="contact.html">Контакты</a>
                </li>
            </ul>
        </div>

        <div class="header__navbar_right-wrap">
            <a href="#" class="header__login-link" data-toggle="modal" data-target="#authModal">
                <svg aria-hidden="true" focusable="false" class="header__login-icon" viewBox="0 0 28.33 37.68">
                    <path
                        d="M14.17 14.9a7.45 7.45 0 1 0-7.5-7.45 7.46 7.46 0 0 0 7.5 7.45zm0-10.91a3.45 3.45 0 1 1-3.5 3.46A3.46 3.46 0 0 1 14.17 4zM14.17 16.47A14.18 14.18 0 0 0 0 30.68c0 1.41.66 4 5.11 5.66a27.17 27.17 0 0 0 9.06 1.34c6.54 0 14.17-1.84 14.17-7a14.18 14.18 0 0 0-14.17-14.21zm0 17.21c-6.3 0-10.17-1.77-10.17-3a10.17 10.17 0 1 1 20.33 0c.01 1.23-3.86 3-10.16 3z">
                    </path>
                </svg>
            </a>

            <a href="#" class="header__cart-link">
                <svg class="header__cart-icon" viewBox="0 0 37 40">
                    <path d="M36.5 34.8L33.3 8h-5.9C26.7 3.9 23 .8 18.5.8S10.3 3.9 9.6 8H3.7L.5 34.8c-.2 1.5.4 2.4.9 3 .5.5 1.4 1.2 3.1 1.2h28c1.3 0 2.4-.4 3.1-1.3.7-.7 1-1.8.9-2.9zm-18-30c2.2 0 4.1 1.4 4.7 3.2h-9.5c.7-1.9 2.6-3.2 4.8-3.2zM4.5 35l2.8-23h2.2v3c0 1.1.9 2 2 2s2-.9 2-2v-3h10v3c0 1.1.9 2 2 2s2-.9 2-2v-3h2.2l2.8 23h-28z">
                    </path>
                </svg>
                <div id="CartCount" class="header__cart-counter" data-cart-count-bubble="">
                    <span data-cart-count="">0</span>
                </div>
            </a>
        </div>
    </nav>
</header>

<main>
    <div class="bg-prop home_bg"></div>
</main>

<footer>
    <div class="footer__container">
        <a class="footer__logo" href="index.html">
            <img class="footer__logo-image" src="./assets/img/FurSie_logo.png" alt="">
        </a>

        <div class="footer__menu">
            <div class="socials">
                <a href="https://wa.me/79284252522?text=Здравствуйте!%20У%20меня%20вопрос." target="_blank"
                   rel="noopener noreferrer">
                    <img class="alignnone size-medium wp-image-631 alignright" src="assets/icons/whatsapp.svg"
                         alt="ссылка на Whatsapp" width="30" height="30">
                </a>

                <a href="https://vk.com/fur_sie_2020" target="_blank" rel="noopener noreferrer">
                    <img class="alignnone size-medium wp-image-631 alignright" src="assets/icons/VK_logo.svg"
                         alt="ссылка на VK" width="30" height="30">
                </a>

                <a href="https://t.me/FuR_SiE_2020" target="_blank" rel="noopener noreferrer">
                    <img class="alignnone size-medium wp-image-630 alignright" src="assets/icons/telegram.svg"
                         alt="ссылка на telegram" width="30" height="30">
                </a>
            </div>

            <p>
                логотип | Семенова Ирина Владимировна<br>
                все права защищены и фотография | Семенова Ирина Владимировна<br>
                2022
            </p>
        </div>
    </div>
</footer>

<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>
</html>
